body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, InkLipquid, sans-serif;
}

@font-face {
  font-family: 'SpoqaHanSansNeo-Thin';
  src: url('/fonts/SpoqaHanSansNeo_OTF_subset/SpoqaHanSansNeo-Thin.woff2') format('woff2'), url('/fonts/SpoqaHanSansNeo_OTF_subset/SpoqaHanSansNeo-Thin.woff') format('woff'),
    url('/fonts/SpoqaHanSansNeo_OTF_subset/SpoqaHanSansNeo-Thin.otf') format('opentype');
}

@font-face {
  font-family: 'SpoqaHanSansNeo-Regular';
  src: url('/fonts/SpoqaHanSansNeo_OTF_subset/SpoqaHanSansNeo-Regular.woff2') format('woff2'), url('/fonts/SpoqaHanSansNeo_OTF_subset/SpoqaHanSansNeo-Regular.woff') format('woff'),
    url('/fonts/SpoqaHanSansNeo_OTF_subset/SpoqaHanSansNeo-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'SpoqaHanSansNeo-Medium';
  src: url('/fonts/SpoqaHanSansNeo_OTF_subset/SpoqaHanSansNeo-Medium.woff2') format('woff2'), url('/fonts/SpoqaHanSansNeo_OTF_subset/SpoqaHanSansNeo-Medium.woff') format('woff'),
    url('/fonts/SpoqaHanSansNeo_OTF_subset/SpoqaHanSansNeo-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'SpoqaHanSansNeo-Light';
  src: url('/fonts/SpoqaHanSansNeo_OTF_subset/SpoqaHanSansNeo-Light.woff2') format('woff2'), url('/fonts/SpoqaHanSansNeo_OTF_subset/SpoqaHanSansNeo-Light.woff') format('woff'),
    url('/fonts/SpoqaHanSansNeo_OTF_subset/SpoqaHanSansNeo-Light.otf') format('opentype');
}

@font-face {
  font-family: 'SpoqaHanSansNeo-Bold';
  src: url('/fonts/SpoqaHanSansNeo_OTF_subset/SpoqaHanSansNeo-Bold.woff2') format('woff2'), url('/fonts/SpoqaHanSansNeo_OTF_subset/SpoqaHanSansNeo-Bold.woff') format('woff'),
    url('/fonts/SpoqaHanSansNeo_OTF_subset/SpoqaHanSansNeo-Bold.otf') format('opentype');
}
